NEXT_PUBLIC_API_URL=https://al-rafai-clinic-backend.onrender.com
NEXT_PUBLIC_WS_URL=wss://al-rafai-clinic-backend.onrender.com
NEXT_PUBLIC_VAPI_PUBLIC_KEY=b6423328-e79e-4772-9342-bc856e45768e
NEXT_PUBLIC_VAPI_ASSISTANT_ID=ca0ce886-2681-4888-b103-99ae48fcdc18
NEXT_PUBLIC_ADMIN_API_KEY=b6423328-e79e-4772-9342-bc856e45768e
